<CACoJjrFWyfF2oGdwUXNxMbD=7kCjqBC4kiMru8sNzvm3Jxe7_A@mail.gmail.com>,"<div dir=3D""ltr"">Unfortunately, this Friday is really bad as I&#39;m in SF =
all day for meetings. Miss Moneypenny (CC&#39;d) can help find us a time.</=
div><div class=3D""gmail_extra""><br clear=3D""all""><div><div class=3D""gmail_s=
ignature""><div dir=3D""ltr"">Best,<br>john smith<div>CEO, <a href=3D""http://w=
ww.quettra.com"" target=3D""_blank"">Other Company</a>, Inc.<br><a href=3D""http://ww=
w.linkedin.com/in/jainankit"" style=3D""color:rgb(17,85,204)"" target=3D""_blan=
k"">LinkedIn</a>=C2=A0|=C2=A0<a href=3D""http://www.google.com/+JohnJain"" st=
yle=3D""color:rgb(17,85,204)"" target=3D""_blank"">Google+</a>=C2=A0|=C2=A0<a h=
ref=3D""http://www.twitter.com/jain_ankit"" style=3D""color:rgb(17,85,204)"" ta=
rget=3D""_blank"">Twitter</a><br></div></div></div></div>
<br><div class=3D""gmail_quote"">On Wed, Mar 18, 2015 at 1:43 PM, <a href=3D""=
mailto:other.person@gmail.com"">other.person@gmail.com</a> <span dir=
=3D""ltr"">&lt;<a href=3D""mailto:other.person@gmail.com"" target=3D""_blank""=
>other.person@gmail.com</a>&gt;</span> wrote:<br><blockquote class=3D""gm=
ail_quote"" style=3D""margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-le=
ft:1ex""><span><p>LMK if this works for you</p></span><div><table cellspacin=
g=3D""0"" cellpadding=3D""8"" border=3D""0"" summary=3D"""" style=3D""width:100%;fon=
t-family:Arial,Sans-serif;border:1px Solid #ccc;border-width:1px 2px 2px 1p=
x;background-color:#fff""><tbody><tr><td><div style=3D""padding:2px""><span></=
span><h3 style=3D""padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;f=
ont-size:16px;font-weight:bold;color:#222""><span>John / Other Coffee</sp=
an></h3><div style=3D""padding-bottom:15px;font-size:13px;color:#222;white-s=
pace:pre-wrap!important;white-space:-moz-pre-wrap!important;white-space:-pr=
e-wrap!important;white-space:-o-pre-wrap!important;white-space:pre-wrap;wor=
d-wrap:break-word"">John&#39;s Cell: <a href=3D""tel:%2B14083984232"" value=
=3D""+14083984232"" target=3D""_blank"">+14083984232</a><br>We&#39;re in suite =
100. See you soon!</div><table cellpadding=3D""0"" cellspacing=3D""0"" border=
=3D""0"" summary=3D""Event details""><tbody><tr><td style=3D""padding:0 1em 10px=
 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowra=
p"" valign=3D""top""><div><i style=3D""font-style:normal"">When</i></div></td><t=
d style=3D""padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;=
color:#222"" valign=3D""top""><u></u><u></u><u></u><u></u>Fri Mar 20, 2015 4pm=
 =E2=80=93 5pm <span style=3D""color:#888"">Pacific Time</span></td></tr><tr>=
<td style=3D""padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13=
px;color:#888;white-space:nowrap"" valign=3D""top""><div><i style=3D""font-styl=
e:normal"">Where</i></div></td><td style=3D""padding-bottom:10px;font-family:=
Arial,Sans-serif;font-size:13px;color:#222"" valign=3D""top""><span><span>520 =
San Antonio Rd, Mountain View, CA 94040, USA</span><span dir=3D""ltr""> (<a h=
ref=3D""https://maps.google.com/maps?q=3D520+San+Antonio+Rd,+Mountain+View,+=
CA+94040,+USA&amp;hl=3Den"" style=3D""color:#20c;white-space:nowrap"" target=
=3D""_blank"">map</a>)</span></span></td></tr><tr><td style=3D""padding:0 1em =
10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:n=
owrap"" valign=3D""top""><div><i style=3D""font-style:normal"">Video call</i></d=
iv></td><td style=3D""padding-bottom:10px;font-family:Arial,Sans-serif;font-=
size:13px;color:#222"" valign=3D""top""><a href=3D""https://plus.google.com/han=
gouts/_/quettra.com/ankit-pratyus?hceid=3DYW5raXRAcXVldHRyYS5jb20.j6h929r6b=
ion34q70qleespjgo"" style=3D""color:#20c;white-space:nowrap"" target=3D""_blank=
"">https://plus.google.com/hangouts/_/quettra.com/ankit-pratyus</a></td></tr=
><tr><td style=3D""padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-si=
ze:13px;color:#888;white-space:nowrap"" valign=3D""top""><div><i style=3D""font=
-style:normal"">Who</i></div></td><td style=3D""padding-bottom:10px;font-fami=
ly:Arial,Sans-serif;font-size:13px;color:#222"" valign=3D""top""><span class=
=3D""HOEnZb""><font color=3D""#888888""></font></span><table cellspacing=3D""0"" =
cellpadding=3D""0""><tbody><tr><td style=3D""padding-right:10px;font-family:Ar=
ial,Sans-serif;font-size:13px;color:#222""><span style=3D""font-family:Courie=
r New,monospace"">=E2=80=A2</span></td><td style=3D""padding-right:10px;font-=
family:Arial,Sans-serif;font-size:13px;color:#222""><div><div style=3D""margi=
n:0 0 0.3em 0""><span><span>john smith</span></span><span style=3D""font-size=
:11px;color:#888""> - organizer</span></div></div></td></tr><tr><td style=3D=
""padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222""=
><span style=3D""font-family:Courier New,monospace"">=E2=80=A2</span></td><td=
 style=3D""padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;co=
lor:#222""><div><div style=3D""margin:0 0 0.3em 0""><span><span>Other Patnai=
k</span></span></div></div></td></tr></tbody></table></td></tr></tbody></ta=
ble></div></td></tr></tbody></table></div></blockquote></div><br></div>
"
<1426725841693.17377@digitalmagics.com>,"<html>
<head>
<meta http-equiv=3D""Content-Type"" content=3D""text/html; charset=3Diso-8859-=
1"">
<style type=3D""text/css"" style=3D""display:none;""><!-- P {margin-top:0;margi=
n-bottom:0;} --></style>
</head>
<body dir=3D""ltr"">
<div id=3D""divtagdefaultwrapper"" style=3D""font-size:12pt;color:#000000;back=
ground-color:#FFFFFF;font-family:Calibri,Arial,Helvetica,sans-serif;"">
<p style=3D""margin-top: 0px; margin-bottom: 0px;"">&#8203;My working hours n=
ormally goes from 9:00 am to 10 pm.<br>
</p>
<p style=3D""margin-top: 0px; margin-bottom: 0px;"">Sometimes I have to do ni=
ght calls or conferences from different time zones, so it could happen to h=
ave a skype call at night, but only with selected people like:<br>
</p>
<p style=3D""margin-top: 0px; margin-bottom: 0px;""><br>
</p>
<p style=3D""margin-top: 0px; margin-bottom: 0px;"">DIGITAL MAGICS BOARD MEET=
INGS<br>
</p>
<p style=3D""margin-top: 0px; margin-bottom: 0px;"">NATIONAL RADIO INTERVIEW<=
br>
</p>
<p style=3D""margin-top: 0px; margin-bottom: 0px;"">DIGITAL MAGICS&nbsp;PARTN=
ER MEETING<br>
</p>
<p style=3D""margin-top: 0px; margin-bottom: 0px;""><br>
</p>
<div id=3D""Signature"">
<div id=3D""divtagdefaultwrapper"" style=3D""font-size:12pt; color:#000000; ba=
ckground-color:#FFFFFF; font-family:Calibri,Arial,Helvetica,sans-serif"">
<div dir=3D""ltr"" style=3D""color:rgb(33,33,33); font-size:13px; background-c=
olor:rgb(255,255,255)"">
<div dir=3D""ltr""><br>
<table border=3D""0"" width=3D""842"" cellspacing=3D""0"" cellpadding=3D""0"" style=
=3D""border-collapse:collapse; width:505.6pt"">
<tbody>
<tr>
<td valign=3D""top"" width=3D""342"" style=3D""width:205.55pt; padding:0px 5.4pt=
; border-style:none solid none none; border-right-width:3pt; border-right-c=
olor:rgb(247,191,15)"">
<div style=3D""margin-right:3.5pt"">
<div style=3D""margin:0px"">
<div class=3D""x_x_gmail_default"" style=3D""display:inline""><span style=3D""co=
lor:rgb(0,0,0)""><strong>Bibop G. Gresta&#8203;</strong></span><br>
</div>
</div>
</div>
<div><span style=3D""font-size:xx-small; color:rgb(222,169,0)""><span style=
=3D""font-size:8pt"">&#8203;Founder &amp;&nbsp;Deputy Chairman</span></span><=
/div>
<div dir=3D""ltr""><span style=3D""font-size:xx-small; color:rgb(222,169,0)""><=
span style=3D""font-size:8pt""><span style=3D""color:rgb(0,0,0)""><a href=3D""ht=
tp://www.linkedin.com/in/gabrielegresta/"" id=3D""LPNoLP""><span style=3D""colo=
r:rgb(0,0,0)"">Lin&#8203;kedIn</span></a>&nbsp; &nbsp; &nbsp;<a href=3D""http=
s://www.facebook.com/bibop.gabrielegresta"" id=3D""LPNoLP""><span style=3D""col=
or:rgb(0,0,0)"">Facebook</span></a>&nbsp;
 &nbsp; &nbsp;&nbsp;<a href=3D""https://twitter.com/GabrieleGresta"" id=3D""LP=
NoLP""><span style=3D""color:rgb(0,0,0)"">Twitter</span></a></span><br>
</span></span></div>
</td>
<td valign=3D""top"" width=3D""500"" style=3D""width:300.5pt; padding:0px 5.4pt""=
>
<div style=3D""margin:0px""><span style=3D""font-size:xx-small; color:rgb(222,=
169,0)""><span lang=3D""fr"" style=3D""font-size:8pt""><strong>Digital Magics S.=
p.a.</strong></span></span></div>
<div style=3D""margin:0px""><span style=3D""font-size:xx-small; color:rgb(0,0,=
0)""><span lang=3D""fr"" style=3D""font-size:8pt"">Phone: &#43;1 213 712 4267</s=
pan></span></div>
<div style=3D""margin:0px""><span style=3D""font-size:medium; color:rgb(0,0,0)=
""><span style=3D""font-size:12pt""><span style=3D""font-size:xx-small""><span l=
ang=3D""fr"" style=3D""font-size:8pt"">Los Angeles -&nbsp;<a href=3D""http://www=
.digitalmagics.com/"" id=3D""LPNoLP""><span style=3D""color:rgb(0,0,0)"">www.dig=
italmagics.com</span></a>&#8203;</span></span></span></span></div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div style=3D""color:rgb(33,33,33); font-family:arial,sans-serif; font-size:=
13px; background-color:rgb(255,255,255)"">
<br>
</div>
</div>
</div>
</div>
</body>
</html>
"
